<div class="container">
  <div class="header">
    <img class="b-img" src="assets/img/b-img-small.jpg" alt="" />
    <div class="filter"></div>
  </div>
  <section>
    <h1>Espiritualidade, seriedade e força espiritual!</h1>
    <p>O ilê axé de Ogum e Oxum é totalmente dedicado aos orixás e assim consequentemente totalmente honesto!</p>
    <h1>Legalmente autorizado!</h1>
    <p>O ilê axé de Ogum e Oxum é legalmente autorizado à conduzir trabalhos espirituais em todo território brasileiro.</p>
    <button type="button" class="main-button">Veja a autorização completa</button>
    <img src="assets/img/Hall-small.jpg" alt="" />
    <h1>Se você está passando por:</h1>
    <p>Problemas Espirituais</p>
    <p style="margin-top: -10px;">Problemas Financeiros</p>
    <p style="margin-top: -10px;">Problemas Familiares</p>
    <p style="margin-top: -10px;">Desempregado</p>
    <a routerLink="/trabalhos">
      <p style="margin-top: -10px;">Outros...</p>
    </a>
    <h1>Tratamentos espirituais</h1>
    <p>É nossa especialidade fazer tratamentos espirituais.</p>
    <img src="assets/img/in-hall-small.jpg" alt="" />
    <h1>Tratamos o vício do álcool</h1>
    <p>Pare ou ajude uma pessoa a parar com este vício.</p>
    <h1>Está com problemas na família?</h1>
    <p>Fazemos trabalhos de união!</p>
    <img src="assets/img/hall-left-small.jpg" alt="" />
    <h1>Consultas</h1>
    <p>Faça a sua consulta e obtenha respostas!</p>
    <a href="https://wa.me/557788188769?text=Ol%C3%A1,%20eu%20gostaria%20de%20fazer%20uma%20consulta!">
      <button type="button" class="main-button">Fazer consulta!</button>
    </a>
  </section>
</div>