<div class="container">
    <div class="section">
        <a href="https://wa.me/557788188769" target="_blank" rel="ile">
            <div class="box">
                <h1>Whatsapp</h1>
                <p>Envie uma mensagem para o nosso Whatsapp e bata um papo com a gente!</p>
            </div>
        </a>
        <a href="https://maps.app.goo.gl/LCX6MGu2ersP2vzL7" target="_blank" rel="noopener noreferrer">
            <div class="box">
                <h1>Google Maps</h1>
                <p>Confira exatamente onde o nosso centro se encontra através do Google Maps</p>
            </div>
        </a>
        <a href="tel:+5577988188769" target="_blank" rel="noopener noreferrer">
            <div class="box">
                <h1>Ligue</h1>
                <p>Você também pode ligar para (77) 988188769 e falar com a gente</p>
            </div>
        </a>
        <a href="mailto:yleaxedeogumeoxum@gmail.com" target="_blank" rel="noopener noreferrer">
            <div class="box">
                <h1>E-mail</h1>
                <p>Dá uma olhada no nosso e-mail se preferir! a gente te responde rapidinho!</p>
            </div>
        </a>
    </div>
</div>